.dropdown-menu {
  display: none;
  width: auto;
  position: absolute;
  top: 100px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: coral;
  cursor: pointer;
  opacity: 1;
}

.dropdown-menu li:hover {
  background: rgb(111, 175, 159);
  border-bottom: 0.5px solid white;
  opacity: 1;
  transition: all 0.5s ease;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: inline-block;
  }
}
