.navbar {
  height: 250px;
  padding: 20px 40px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.edit {
  display: flex;
  flex-wrap: wrap;
}
.nav-menu {
  height: 80px;
  background: linear-gradient(
    90deg,
    rgb(35, 80, 69) 30%,
    rgb(28, 27, 27) 50%,
    rgb(35, 80, 69) 60%
  );

  display: flex;
  list-style: none;
  text-align: center;
  width: fit-content;
  justify-content: end;
  /*margin-right: 2rem;*/
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border: 0.5px solid coral;
}
.nav-menu::before {
  content: "";
  width: 40px;
  height: 80px;

  -webkit-transform: skew(-10deg) translateX(-20px) translateY(-1px);
  -moz-transform: skew(-20deg) translateX(-20px) translateY(-1px);
  -o-transform: skew(-20deg) translateX(-20px) translateY(-1px);
  border-top-left-radius: 20px;
  background: coral;
}

.nav-menu::after {
  content: "";
  width: 40px;
  height: 78px;

  -webkit-transform: skew(-10deg) translateX(7px) translateY(-1px);
  -moz-transform: skew(-20deg) translateX(7px) translateY(-1px);
  -o-transform: skew(-20deg) translateX(7px) translateY(-1px);
  border-bottom-right-radius: 20px;
  background: rgb(35, 80, 69);
  border-left: transparent;
  border-right: 0.5px solid coral;
  border-top: 0.5px solid coral;
  border-bottom: 0.5px solid coral;
}

.nav-item {
  display: flex;
  width: max-content;
  align-items: center;
  height: 80px;
}
/*.nav-item li:hover {
  border-color: steelblue;
 
}*/

.nav-links {
  color: white;
  transition: all 0.2s ease-out;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  transition: all 0.2s ease-out;
  color: rgb(123, 211, 189);
}

.nav-item:hover .fa-caret-down {
  transform: rotate(180deg);
  transition: all 0.2s ease-out;
}
.nav-item:hover .dropdown-menu {
  display: block;
}

.nav-item:hover .dropdown-menu.clicked {
  display: none;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
  .NavbarItems {
    position: relative;
  }
  .navbar {
    height: 60px;
    background: linear-gradient(
      90deg,
      rgb(35, 80, 69) 30%,
      rgb(28, 27, 27) 50%,
      rgb(35, 80, 69) 60%
    );
    border-radius: 0;
    margin-top: 0;
    padding: 0;
  }
  .nav-menu .edit {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 65px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    border-radius: 0;
    border: none;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background: linear-gradient(
      90deg,
      rgb(28, 27, 27) 0%,
      rgb(35, 80, 69) 100%
    );
    border-radius: 0;
  }

  .nav-menu::before {
    display: none;
  }
  .nav-menu::after {
    display: none;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 45%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: steelblue;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: steelblue;
    transition: 250ms;
  }

  .nav-item {
    display: flex;
    width: auto;
  }

  button {
    display: none;
  }

  .nav-item:hover .dropdown-menu {
    display: none;
  }
  .nav-item:hover .fa-caret-down {
    transform: none;
  }
  .nav-links:hover .fa-caret-down {
    transform: rotate(180deg);
    transition: all 0.2s ease-out;
  }
  .nav-links:hover .dropdown-menu {
    position: relative;
    display: inline;
    text-align: center;
    height: fit-content;
  }
}
