* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  /*margin: 100px 60px 60px 0;*/
  height: 100vh;
  width: 100%;
  /*background-color: rgb(115, 163, 150);*/
  /*border-bottom: 3px solid rgb(35, 80, 69);*/
  color: rgb(35, 80, 69);
}
.wrapper {
  background-image: url("./images/main/airplane-montaine.jpg");
  position: relative; /*для моб змінити*/
  background-attachment: fixed; /*для моб змінити*/
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 100vh;*/
  min-height: 100vh;
  padding-bottom: 145px;
  background-position: top;
  margin: 20px 0 20px 0;
  border-bottom: 4px solid coral;
  border-top: 2px solid coral;
}

.page {
  position: absolute;
  top: 750px;
  padding: 20px 55px 10px 55px;
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: 700;
  text-align: justify;
}
.page div {
  padding-bottom: 10px;
  padding-top: 15px;
}
.page .order {
  padding-left: 40px;
}
.page .order::before {
  content: " - ";
}
.page ul {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 50px;
}
.page .title {
  padding: 10px 0 20px 0;
  font-weight: 600;
  text-align: center;
  font-size: 25px;
}
.page .bottom {
  padding-top: 20px;
  text-align: center;
}
.page .bold {
  font-weight: bold;
}

.page .list-link {
  color: black;
  text-decoration: none;
}
.page .link {
  color: black;
  padding-left: 15px;
  font-weight: 600;
}
.box-start {
  display: flex;
  justify-content: start;
}
.stratch {
  margin-right: 5px;
}
@media screen and (max-width: 960px) {
  .wrapper {
    min-height: 0;
    height: auto;
    background-image: none;
    background-attachment: unset;
    margin: 0px;
    position: unset;
  }
  .page {
    top: 0;
    padding: 230px 25px 10px 25px;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
  }
  .page ul {
    padding-left: 20px;
  }
}
